*.o
*_test
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
auxfiles/
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
doc/*.h.texi
doc/mudcore.aux
doc/mudcore.cp
doc/mudcore.dvi
doc/mudcore.fn
doc/mudcore.fns
doc/mudcore.info
doc/mudcore.ky
doc/mudcore.log
doc/mudcore.pdf
doc/mudcore.pg
doc/mudcore.toc
doc/mudcore.tp
doc/mudcore.tps
doc/mudcore.vr
doc/mudcore.vrs
doc/stamp-vti
doc/version.texi
log/
m4/*.m4
mudcore
stamp-h1
